@import "tailwindcss";
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fadeInUp 1s ease;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

:root {
  --primary: #0F1921;
  --secondary: #16222B;
  --accent: #D1C19E;
  --border: #2A3842;
  --text-muted: #A7ADB3;
}